{% extends 'qb/base.html' %}

{% block  bodyblock %}
    {{ block.super }}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Standard
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for standard in standard_list %}
                <a class="dropdown-item" href="#">{{ standard.standard }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}